# Ignore virtual environment
audio_classifier_env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore configuration files
*.config

# Ignore backup files
*.bak

# Ignore .DS_Store files
.DS_Store

# Ignore any log files
*.log

# Ignore the dist folder
dist/

# Ignore .spec files
*.spec

# Uncomment the next line if you want to ignore .dmg files again in the future
# *.dmg

# Ignore Python scripts (to keep the algorithm private)
*.py

# Keep only necessary files for the webpage
!index.html
!AudioClassifier.dmg